<% if @issue.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>
    <ul>
    <% @issue.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @issue, :html => { :multipart => true } do |u| %>
  <table>
    <tr>
        <td>   <%= u.label :name %></td>
        <td>   <%= u.text_field :name, size: 30 %> </td>
    </tr>
    <% if super_admin? %>
    <tr>
        <td>   <%= u.label :publisher %></td>
        <td>   <%= u.text_field :publisher, size: 30 %> </td>
    </tr>
    <% end %>
    <tr>
        <td>   <%= u.label 'Issue Date(dd/mm/yyyy)' %></td>
        <td>   <%= u.text_field :issue_date, size: 30 %> </td>
    </tr>
    <tr>
        <td>   <%= u.label 'Product Identifier' %></td>
        <td>   <input id="issue_product_identifier" name="issue[product_identifier]" size="30" type="text">
    </tr>

        <tr>
        <td>   <%= u.label 'App Id' %></td>
        <td>   <%= u.text_field :app_id, size: 30 %> </td>
    </tr>

    <tr>
        <td>   <%= u.label 'Is free' %></td>
        <td>   <%= u.check_box :is_free, size: 30 %> </td>
    </tr>
    <tr>
        <td>   <%= u.label 'Description' %></td>
        <td>   <%= u.text_area :description, { :rows => 15, :cols => 30 } %> </td>
    </tr>
    <tr>
        <td>   <%= u.label 'Upload Images' %></td>
        <td>   <%= u.file_field('issue_images_image', multiple: true, name: "issue[images_attributes][][image]") %> </td>
    </tr>
    <tr>
        <td>   <%= u.label 'Upload pdf' %></td>
        <td>   <%= u.file_field('issue_attachments_attachment', multiple: false, name: "issue[attachments_attributes][][attachment]") %> </td>
    </tr>
    <tr>
        <td>   <%= u.label 'Upload preview pdf' %></td>
        <td>   <%= u.file_field('issue_previews_attachment', multiple: false, name: "issue[previews_attributes][][item]") %> </td>
    </tr>

    <tr>
      <td colspan ="2">  <%= u.submit %> </td>
    </tr>
  </table>

<% end %>
<%= link_to "home", issues_path %>